name: Build and Release Fermi
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write  # Add this to allow creating releases

jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Build Electron App
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/Fermi-Portable.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}